h1 {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

a:active {
    color: yellow;
}

a:visited {
    color: darkgrey;
}

img {
    max-width: 30vw;
    margin: 10px;
}

aside {
    text-align: center;
    margin: 1rem 0;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

.w3-card-2 {
    max-width: 40vw;
}

.card-container {
    display: flex;
    justify-content: center;
}