a {
    text-decoration: none;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}

img {
    max-width: 30vw;
    margin: 10px;
}

.w3-card-2 {
    max-width: 40vw;
}

.card-container {
    display: flex;
    justify-content: center;
}